####################################
#----------HOMING OVERRIDE----------
####################################

[homing_override]
set_position_z: 0                                                                # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
axes: xyz
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}

  SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={False}
  SET_LED_EFFECT EFFECT=Toolhead_LED_Homing

  {% if not 'Y' in params and not 'Z' in params and 'X' in params %}             # Home ONLY X axis
    {% if variables.z_move_up != True %}
      G90
      G1 Z{variables.z_hop} F{variables.move_speed * 60}
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_move_up VALUE={True}
      SENSORLESS_HOME_X
    {% else %}
      SENSORLESS_HOME_X
    {% endif %}
  {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}           # Home ONLY Y axis
    {% if variables.z_move_up != True %}
      G90
      G1 Z{variables.z_hop} F{variables.move_speed * 60}
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_move_up VALUE={True}
      SENSORLESS_HOME_Y
    {% else %}
      SENSORLESS_HOME_Y
    {% endif %}
  {% elif not 'X' in params and not 'Y' in params and 'Z' in params %}           # If homing Z axis, will check if x and y is homed first, then homes Z
    {% if variables.x_homed == True and variables.y_homed == True %}
      G1 X{variables.bed_x_center} Y{variables.bed_y_center} F{variables.move_speed * 60}
      M118 Homing Z axis
      G28 Z
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={True}
      G1 Z{variables.gantry_z_center} F{variables.move_speed * 60}
    {% elif variables.x_homed != True and variables.y_homed == True %}           # If x is NOT homed and y IS homed, will home X 
      G90                                                                        # Absolute Coordinates
      SENSORLESS_HOME_X
      G1 X{variables.bed_x_center} Y{variables.bed_y_center} F{variables.move_speed * 60}
      M118 Homing Z axis
      G28 Z
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={True}
      G1 Z{variables.gantry_z_center} F{variables.move_speed * 60}
    {% elif variables.x_homed == True and variables.y_homed != True %}           # If x IS homed and y is NOT homed, will home Y
      G90                                                                        # Absolute Coordinates
      SENSORLESS_HOME_Y
      G1 X{variables.bed_x_center} Y{variables.bed_y_center} F{variables.move_speed * 60}
      M118 Homing Z axis
      G28 Z
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={True}
      G1 Z{variables.gantry_z_center} F{variables.move_speed * 60}
    {% else %}                                                                    # If no specific axis is requested to home, then will home all axis
      G90
      G1 Z{variables.z_hop} F{variables.move_speed * 60}
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_move_up VALUE={True}
      SENSORLESS_HOME_X
      SENSORLESS_HOME_Y
      G1 X{variables.x_center} Y{variables.bed_y_center} F{variables.move_speed * 60}
      M118 Homing Z axis
      G28 Z
      SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={True}
      G1 Z{variables.gantry_z_center} F{variables.move_speed * 60}
    {% endif %}
  {% else %}
    G90
    G1 Z{variables.z_hop} F{variables.move_speed * 60}
    SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_move_up VALUE={True}
    SENSORLESS_HOME_X
    SENSORLESS_HOME_Y
    G1 X{variables.bed_x_center} Y{variables.bed_y_center} F{variables.move_speed * 60}
    M118 Homing Z axis
    G28 Z
    SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=z_homed VALUE={True}
    G1 Z{variables.gantry_z_center} F{variables.move_speed * 60}
  {% endif %}

  SET_LED_EFFECT EFFECT=Toolhead_LED_Homing STOP=1

######################################
#----------SENSORLESS HOME X----------
######################################

[gcode_macro SENSORLESS_HOME_X]
description: Sensorless home the X axis
gcode:
  SAVE_GCODE_STATE NAME=sensorless_home_x

  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  {% set HOME_CUR = 0.760 %}
  {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
  {% set RUN_CUR = driver_config.run_current %}

  {% if variables.x_homed != True %}
    G90                                                                        # Absolute Coordinates
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}                       # set home current
    M118 Homing X axis                                                         # display info
    G4 P2000                                                                   # wait
    G28 X0                                                                     # home
    G90                                                                        # absolute coordinates
    G1 X5 F{variables.move_speed * 60}                                                                # move 5mm away from 0 position
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}                        # set run current
    SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=x_homed VALUE={True}
  {% else %}
    M118 X is homed
  {% endif %}

  RESTORE_GCODE_STATE NAME=sensorless_home_x

######################################
#----------SENSORLESS HOME Y----------
######################################

[gcode_macro SENSORLESS_HOME_Y]
description: Sensorless home the Y axis
gcode:
  SAVE_GCODE_STATE NAME=sensorless_home_y

  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}
  {% set HOME_CUR = 0.760 %}
  {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
  {% set RUN_CUR = driver_config.run_current %}

  {% if variables.y_homed != True %}
    G90                                                                        # Absolute Coordinates
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}                       # set home current
    M118 Homing Y axis                                                         # display info
    G4 P2000                                                                   # wait
    G28 Y0                                                                     # home
    G90                                                                        # absolute coordinates
    G1 Y5 F{variables.move_speed * 60}                                                                # move 5mm away from 0 position
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}                        # set run current
    SET_GCODE_VARIABLE MACRO=_CUSTOM_VARIABLES VARIABLE=y_homed VALUE={True}
  {% else %}
    M118 Y is homed
  {% endif %}

  RESTORE_GCODE_STATE NAME=sensorless_home_y