#####################################
#----------GLOBAL VARIABLES----------
#####################################

[gcode_macro _CUSTOM_VARIABLES]
variable_x_homed                  : False        # DO NOT CHANGE. INTERNAL USE ONLY
variable_y_homed                  : False        # DO NOT CHANGE. INTERNAL USE ONLY
variable_z_homed                  : False        # DO NOT CHANGE. INTERNAL USE ONLY
variable_z_move_up                : False        # DO NOT CHANGE. INTERNAL USE ONLY
variable_printing                 : False        # DO NOT CHANGE. INTERNAL USE ONLY
variable_z_hop                    : 10.0
variable_bed_x_center             : 110.0        # x axis center position
variable_bed_y_center             : 113.0        # y axis bed center position
variable_gantry_z_center          : 100.0        # z axis gantry center position
variable_x_wait                   : 110.0        # x axis wait position for pre-heating
variable_y_wait                   : 113.0        # y axis wait position for pre-heating
variable_z_wait                   : 50.0         # z axis wait position for pre-heating
variable_e_temp_wait              : 170.0        # extruder pre-heating temp
variable_x_finish                 : 110.0        # x axis position for presenting print
variable_y_finish                 : 235.0        # y axis position for presenting print
variable_z_finish                 : 25.0         # z axis incremental move after print is finished
variable_e_finish                 : -10.0          # extruder retraction amount after print if finished
variable_e_finish_speed           : 20.0         # extruder retraction speed after print if finished
variable_move_speed               : 60.0         # move speed in MM/s for homing/presenting print
gcode:

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos           : True  # use custom park coordinates for x,y [True/False]
variable_custom_park_x            : 110   # custom x position; value must be within your defined min and max of X
variable_custom_park_y            : 235   # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz           : 10.0  # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract                  : 5.0   # the value to retract while PAUSE
variable_cancel_retract           : 5.0   # the value to retract while CANCEL_PRINT
variable_speed_retract            : 20.0  # retract speed in mm/s
variable_unretract                : 5.0   # the value to unretract while RESUME
variable_speed_unretract          : 20.0  # unretract speed in mm/s
variable_speed_hop                : 50.0  # z move speed in mm/s
variable_speed_move               : 100.0 # move speed in mm/s
variable_park_at_cancel           : True  # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x         : 110   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y         : 235   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract           : True  # use fw_retraction instead of the manual version [True/False]
variable_idle_timeout             : 1800  # time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor            : "" #"filament_switch_sensor Switch_Sensor"   # If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
gcode:


[gcode_macro CHECK_VARIABLES]
gcode:
  {% set variables = printer["gcode_macro _CUSTOM_VARIABLES"] %}

  M118 Variable "x_homed" is: {variables.x_homed}
  M118 Variable "y_homed" is: {variables.y_homed}
  M118 Variable "z_homed" is: {variables.z_homed}
  M118 Variable "z_move_up" is: {variables.z_move_up}
  M118 Variable "printing" is: {variables.printing}